.hero {
    display: flex;
    align-items: center;
    padding-top: 100px;
}

.hero-wrapper-text {
    width: 65%;
    padding-right: 50px;

}

.hero-wrapper-img {
    width: 35%;
    position: relative;
}

.hero-wrapper-img img {
    width: 100%;
}

.hero-wrapper-img .star {
    position: absolute;
    width: 6.250vw;
    height: 6.250vw;
    bottom: -7%;
    right: 90%;
    animation: rotation 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation: rotation 5s linear infinite;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}