/********************************
Hamburger menu
********************************/

.nav-trigger {
    width: 44px;
    height: 44px;
    overflow: hidden;
    color: transparent;
}

.nav-trigger span,
.nav-trigger span::before,
.nav-trigger span::after {
    position: absolute;
    width: 36px;
    height: 1.5px;
    background: var(--black);
    transition: all .3s ease;
}

.nav-trigger span {
    top: calc(50% - 2px);
}

.nav-trigger span::before,
.nav-trigger span::after {
    content: '';
    top: 0;
    left: 0;
    transition: background .3s, transform .3s;
}

.nav-trigger span::before {
    transform: translateY(-8px);
}

.nav-trigger span::after {
    transform: translateY(8px);
}

.nav-trigger:hover span,
.nav-trigger:hover span::before,
.nav-trigger:hover span::after {
    transform: translateY(0);
}

.nav-open .nav-trigger span::before,
.nav-open .nav-trigger span::after {
    background-color: #333
}

.nav-open .nav-trigger span {
    background: transparent;
}

.nav-open .nav-trigger span::before {
    transform: rotate(-45deg);
}

.nav-open .nav-trigger span::after {
    transform: rotate(45deg);
}


/********************************
  Overlay
  ********************************/

.overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bfbfbf;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    pointer-events: none;
}

.nav-open .overlay {
    opacity: .6;
    visibility: visible;
}


/********************************
  Navigation
  ********************************/

.nav-container {
    position: fixed;
    z-index: 20;
    width: 90%;
    max-width: 650px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0 5em;
    background-color: var(--white);
    overflow: hidden;
    transform: translateZ(0);
    transform: translateX(-100%);
    transition: transform .5s cubic-bezier(.83, .14, .33, 1.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-container>div{
    display: flex;
    justify-content: space-between;
}

.nav-open .nav-container {
    transform: translateX(0);
}

.nav-container header p {
    font-size: 16px;
    color: var(--grey);
    margin-bottom: 1em;
}

.nav, .nav-s {
    list-style-type: none;
    padding: 0;
    color: var(--black);
}

.nav a {
    display: block;
    padding: .1em 0;
    font-size: 3rem;
    text-decoration: none;
    color: var(--black);
}

.nav-s a{
    display: block;
    margin: .5em 0;
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
}

.nav-container .phone{
    margin: 1em 0;
}

.nav-container .phone p:nth-child(1){
    color: var(--grey);
    font-size: 16px;
}

.nav-container .phone p:nth-child(2){
    color: var(--black);
    font-size: 16px;
    letter-spacing: .5px;
    margin: .1em 0;
}

.nav-container #hr{
    margin: 2em 0;
}

/*-----------------------------*/

.navbar {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5.208vw;
    border-bottom: 1.8px solid var(--black);
    background: var(--white);
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
}

.navbar img {
    width: 20vw;
}

.navbar>div {
    display: flex;
    align-items: center;
}

.hamburger p{
    margin-right: 20px;
    font-size: 20px;
}

.vhr{
    height: 80px;
    width: 1.5px;
    background: var(--black);
    margin-right: 5.208vw;
}